APP_NAME=MyTube
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

ALLOW_ROBOTS=true
EMBED_MISSING=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

YOUTUBE_API_KEY=
FLOATPLANE_SESSION_ID=

TWITCH_HELIX_KEY=
TWITCH_HELIX_SECRET=

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"
