@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html, body {
        height: 100%;
    }
    body {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

@layer components {
    .container {
        @apply mx-auto px-4 md:px-6;
        max-width: calc(theme('screens.2xl') + theme('spacing.6'));
    }
    nav .container {
        padding-top: env(safe-area-inset-top);
    }

    .btn {
        @apply inline-flex items-center px-4 py-2 rounded-md font-medium border text-center text-sm;
        @apply focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 dark:focus:ring-offset-neutral-900;
    }
    .btn-lg {
        @apply px-6 py-3 text-base;
    }
    .btn-sm {
        @apply px-2 py-1;
    }

    .btn:disabled,
    .btn.disabled {
        @apply opacity-75 pointer-events-none;
    }

    .btn-primary {
        @apply text-white bg-gradient-to-b from-primary-400 to-primary-500 border-primary-600 text-shadow-px-primary;
        @apply dark:from-primary-500 dark:to-primary-600 dark:border-primary-700;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    }
    .btn-primary:hover {
        @apply from-primary-500 to-primary-600 border-primary-700;
        @apply dark:from-primary-400 dark:to-primary-600 dark:border-primary-600;
    }
    .btn-primary:active,
    .btn-primary-active {
        @apply bg-none bg-primary-600 border-primary-700;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    .btn-secondary {
        @apply text-slate-700 bg-gradient-to-b from-white to-slate-50 border-slate-300;
        @apply dark:text-neutral-100 dark:from-neutral-700 dark:to-neutral-800 dark:border-neutral-600;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    }
    .btn-secondary:hover {
        @apply from-slate-100 to-slate-200 border-slate-400;
        @apply dark:from-neutral-600 dark:to-neutral-800 dark:border-neutral-500;
    }
    .btn-secondary:active,
    .btn-secondary-active {
        @apply bg-none bg-slate-200 border-slate-400;
        @apply dark:bg-neutral-800 dark:border-neutral-700;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    .btn-icon {
        @apply p-2 rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
        @apply text-primary-600 hover:bg-slate-200 focus:bg-slate-200 focus:ring-primary-500;
        @apply dark:text-primary-500 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 dark:focus:ring-primary-600;
    }

    .input-text {
        @apply focus:ring-primary-500 focus:border-primary-500 block w-full sm:text-sm border-slate-300 dark:bg-neutral-850 dark:bg-opacity-50 dark:border-neutral-700 dark:focus:border-primary-500 shadow-sm rounded-md placeholder-slate-500 dark:placeholder-neutral-500;
    }
    .input-checkbox {
        @apply focus:ring-primary-500 dark:ring-offset-neutral-900 h-4 w-4 text-primary-600 border-slate-300 rounded;
    }
    .form-label {
        @apply block text-sm font-semibold text-slate-700 dark:text-neutral-300;
    }

    [data-tooltip]:not([data-tooltip="false"]) {
        --tooltip-bg: theme(colors.slate.800 / 90%);
        position: relative;
        &::before,
        &::after {
            @apply absolute z-40 pointer-events-none opacity-0 scale-90 transition;
        }
        &::before {
            content: attr(aria-label);
            @apply max-w-xs text-white py-1 px-2 rounded shadow-sm font-normal text-sm whitespace-nowrap origin-bottom;
            background-color: var(--tooltip-bg);
            bottom: calc(100% + 0.3rem);
            left: 50%;
            transform: translateX(-50%);
        }
        &::after {
            content: '';
            @apply origin-top -translate-x-1/2;
            bottom: calc(100% - 0.3rem);
            left: 50%;
            border-width: 0.35rem;
            border-color: var(--tooltip-bg) transparent transparent transparent;
        }
        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
            @apply visible ring-0 ring-transparent ring-offset-0 ring-offset-transparent opacity-100 scale-100;
        }
    }
    .dark [data-tooltip] {
        --tooltip-bg: theme(colors.neutral.800 / 90%);
    }


    nav-menu[v-cloak] {
        @apply md:flex flex-1;
    }
    @media (max-width: theme('screens.sm')) {
        nav-menu[v-cloak] {
            display: none !important;
        }
    }

    * {
        @apply ring-offset-slate-50 dark:ring-offset-neutral-900;
    }
}

@layer utilities {
    [data-tooltip].tooltip-left::before {
        @apply translate-x-[calc(-100%+1.5rem)] origin-bottom-right;
    }
    [data-tooltip].tooltip-right::before {
        @apply -translate-x-6 origin-bottom-left;
    }
    [data-tooltip].tooltip-center::before {
        @apply -translate-x-1/2 origin-bottom;
    }
    .text-shadow-px-primary {
        text-shadow: 0 1px 0 theme('colors.primary.600');
    }
}

.px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
