@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html, body {
        height: 100%;
    }
    body {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

@layer components {
    nav .container {
        padding-top: env(safe-area-inset-top);
    }

    .btn {
        @apply inline-flex items-center px-4 py-2 rounded-md font-medium border text-center text-sm;
        @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-trueGray-900;
    }
    .btn-lg {
        @apply px-6 py-3 text-base;
    }
    .btn-sm {
        @apply px-2 py-1;
    }

    .btn:disabled,
    .btn.disabled {
        @apply opacity-75 pointer-events-none;
    }

    .btn-primary {
        @apply text-white bg-gradient-to-b from-blue-500 to-blue-600 border-blue-700;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
        text-shadow: 0 1px 0 theme('colors.blue.600');
    }
    .btn-primary:hover {
        @apply from-blue-400 to-blue-600 border-blue-600;
    }
    .btn-primary:active {
        @apply bg-none bg-blue-600 border-blue-700;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    .btn-secondary {
        @apply text-gray-800 bg-gradient-to-b from-gray-50 to-gray-100 border-gray-300;
        @apply dark:text-trueGray-100 dark:from-trueGray-700 dark:to-trueGray-800 dark:border-trueGray-600;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    }
    .btn-secondary:hover {
        @apply from-gray-100 to-gray-200 border-gray-400;
        @apply dark:from-trueGray-600 dark:to-trueGray-800 dark:border-trueGray-500;
    }
    .btn-secondary:active {
        @apply bg-none bg-gray-200 border-gray-400;
        @apply dark:bg-trueGray-800 dark:border-trueGray-700;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    [data-tooltip]:not([data-tooltip="false"]) {
        position: relative;
        &::before {
            content: attr(aria-label);
            @apply invisible absolute z-20 max-w-xs text-white py-1 px-2 rounded shadow-sm font-normal text-sm whitespace-nowrap;
            background-color: rgba(0, 0, 0, 0.9);
            bottom: calc(100% + 0.3rem);
            left: 50%;
            transform: translateX(-50%);
        }
        &::after {
            content: '';
            @apply invisible absolute z-20;
            bottom: calc(100% - 0.3rem);
            left: 50%;
            border-width: 0.35rem;
            border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
            transform: translateX(-50%);
        }
        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
            @apply visible ring-0 ring-transparent ring-offset-0 ring-offset-transparent;
        }
    }

    nav-menu[v-cloak] {
        @apply md:flex flex-1;
    }
    @media (max-width: theme('screens.sm')) {
        nav-menu[v-cloak] {
            display: none !important;
        }
    }
}

@layer utilities {
    [data-tooltip].tooltip-left::before {
        transform: translateX(calc(-100% + 1.5rem));
    }
    [data-tooltip].tooltip-right::before {
        transform: translateX(-1.5rem);
    }
    [data-tooltip].tooltip-center::before {
        transform: translateX(-50%);
    }
}

.px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
